<!DOCTYPE html>
<html>
  <head>
    <title>罰アプリ（仮）</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render partial: "layouts/navbar" %>

    <%= yield %>

  </body>

  <footer class="global-footer">

    <%= render partial: "layouts/sell_icon" %>
    <%= render partial: "layouts/global_footer" %>

  </footer>
